@import "libs/bootstrap-reboot.min.css"; /* сбрасываем стили браузера */
* {
    font-family: 'Poppins 500', sans-serif;
}

@import "base/variables";
@import "base/mixins"; /* Миксины всегда должны идти после переменных */

@import "base/fonts";
@import "blocks/promo";
@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/resume";
@import "base/media";

.container {
    width: 1140px;
    margin: 0 auto;
}
.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;    
}


/* тут определяем общий шрифт и соединяем все файлы в один */
 



    

            


                

            


    
    


        


    
    

           

    
        
            
            


