.skills {
    .title {
        margin-bottom: 8px;
    }    
    &__block {
        margin: 0 auto;
        padding: 60px 0 120px 0;
        display: grid;
        justify-content: center;
        grid-template: repeat(2, 270px) / repeat(auto-fill, 270px);
        gap: 13px;
    }
    &__item {
        position: relative;
        padding: 30px 30px 30px 25px;
        border: 1px solid #000;
        img {
            position: absolute;
        }
        &-title {
            margin-top: 85px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    }
    &__percentages {
        display: grid;
        grid-template: repeat(2, 61px) / repeat(3, 1fr);
        column-gap: 45px;
        row-gap: 38px;
        &-item {
            position: relative;
            &-line-gray {
                height: 14px; 
                width: 100%; 
                background-color: #E8E4DE;            
                position: absolute;
                bottom: 0;
                border-radius: 5px;
            }
            &-line-purple {
                height: 14px; 
                background-color: #8a3fbd;
                position: absolute;
                bottom: 0;
                border-radius: 5px;  
            }
            &-title {
                font-weight: 700;
                padding-left: 13px;
            }
            &-value {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: 700;
            }
        }
    }
    &__circle {
        position: relative;
        @include border-circle;
        &::before {
            top: -8px;
            left: 0;
        }        
    }
}